# Required
TEAMS_WEBHOOK_URL=

# Optional
SQLITE_DB_PATH=prev_articles.db
POLL_INTERVAL_SECONDS=180
MAX_WORKERS=5
RESTART_TIMER_SECONDS=5
BOT_SCRIPT_PATH=./ThreatIntelBot.py
CLEANUP_SCRIPT_PATH=./cleanup_db.py
